$pianogroove-blue: #003d52;
$pianogroove-blue-dark: #032c3a;
$pianogroove-blue-light: #F2F5F6;
$pianogroove-gold: #caad6f;
$pianogroove-gold-dark: #A28C58;
$pianogroove-turquoise: #00b38f;
$pianogroove-lightgrey: #f2f2f2;
$pianogroove-dark-grey: grey;
$pianogroove-white: rgba(255, 255, 255, .95);