@import "variables";
@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  font-family: 'Poppins', sans-serif;
}

body.scrolled .d-header {
  background: $pianogroove-white;
  color: $pianogroove-blue-dark;
  box-shadow: shadow("header");
  height: 4em;
  
  #nav-link-container a,
  #nav-link-container .dropdown button,
  .d-header-icons .icon .d-icon,
  .extra-info-wrapper a,
  .categories-wrapper .category-name, 
  .header-buttons .btn-blend {
    color: $pianogroove-blue-dark;
    
    &:hover {
      color: $pianogroove-turquoise;
    }
  }
}

.d-header {
  box-shadow: none;

  .extra-info-wrapper a {
    color: white;
  }

  .categories-wrapper .category-name {
    color: #c2c2c2;
  }
}

html .header-buttons .btn-blend,
html.discourse-no-touch .header-buttons .btn-blend,
html.discourse-touch .header-buttons .btn-blend {
  background-color: transparent;
}

.d-header #site-logo{
  max-height: 2.5em;
}

#site-logo {
  float: left;
}

#nav-link-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0 0 0 35px;
  list-style: none;

  > li {
    margin-right: 25px;
  }

  a:not(.btn-account) {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 2.75em;
    font-size: 15px;
    margin-right: 3px;
    white-space: nowrap;

    &:hover {
      color: $pianogroove-turquoise;
    }
  }

  .dropdown {
    display: flex;
    position: relative;

    &:hover {
      > a, > button {
        color: $pianogroove-turquoise;
      }

      .nav-link-submenu  {
        display: block;
      }
    }

    a {
      margin-right: 3px;
    }
  }
}

.dropdown-toggle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;

  &::after {
    margin: 3px;
    color: $secondary;
  }
}

.hide-this {
  display: none !important;
}

.nav-submenu-detail {
  text-transform: lowercase;
  color: $pianogroove-dark-grey;
  font-weight: normal;
  margin: -18px 0 0 0;
}

.nav-subscribe-link {
  position: relative;
  text-align: center;
  padding: 0 15px 0 10px;
  color: white !important;
  background-color: $pianogroove-turquoise !important;
  
  &:hover {
    background-color: $pianogroove-gold !important;
  }
}

#responsive-menu {
  display: none;
}

.anon {
  .sign-up-button, .login-button, .d-header-icons {
    display: none;
  }
}

.d-header .header-buttons {
  margin-top: 0;
}

html, html.discourse-no-touch, html.discourse-touch {

  .btn-turquoise {
    background-color: $pianogroove-turquoise;
    color: white;

    a, .d-icon {
      color: white;
    }

    &:hover, &.active {
      background-color: $pianogroove-gold
    }
  }

  .btn-blend {
    background-color: $pianogroove-blue-dark;
    color: white;

    &:hover, &.active {
      color: $pianogroove-turquoise;
      background-color: $pianogroove-blue-dark;
    }
  }

  a.btn-account {
    margin-right: 5px;
    padding: 10px 15px;
    border-radius: 6px;

    &:last-of-type {
      margin-right: 0;
    }

    span {
      text-transform: uppercase;
    }
  }
}

body.admin-interface #main-outlet {
  padding-top: 5em;
}
